@model IEnumerable<DatabaseAccessLayer.Models.MyTask>
@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();
    int pageNo = 0;
    bool Filter = false;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;

    }
    if(ViewBag.Filter != null)
    {
        Filter = ViewBag.Filter;
    }
}



 <div class="container">
    <p>
        <a asp-action="Create" class="btn btn-primary" asp-route-id="">Create New</a>
    </p>

    <div class="box">
    <form >
        <div class="form-group form-check">
            <input type="checkbox"  class="form-check-input" id="isActiveFilter" name="isActiveFilter" value="True" />
            <label class="form-check-label" for="isActiveFilter">Filter only Done tasks</label>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    </div>
    <main role="main" class="pb-3">
        @foreach (var task in Model)
        {
         
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Task Item</title>
                <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

            </head>
            <body>
                <div class="task-item">
                    <p>@task.Description</p>
                    <p><strong>Status:</strong> @(task.IsActive ? "Done!" : "Not Done!")</p>
                </div>
            </body>
        </html>

        }
    </main> 
  
</div>

<style>
    .box {
        border: 1px solid #ccc;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
</style>

@* <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">

                    <h4 class="my-0 font-weight-normal bg-light">
                        <lable style="font-size:23px; color: steelblue">
                           ID: @Html.DisplayFor(modelItem => item.Id)
                        </lable>
                    </h4>
                    <br />



                    <h4 class="my-0 font-weight-normal bg-light">
                        <lable style="font-size:23px; color: steelblue">
                       My Note: @Html.DisplayFor(modelItem => item.Description)  
                        </lable> 
                    </h4>
                    <br />


                    <h4 class="my-0 font-weight-normal bg-light">
                        <lable style="font-size:23px; color: steelblue">
                            Catagory Name: @Html.DisplayFor(modelItem => item.Category)
                            
                        </lable>
                    </h4>
                    <br />

                    <h4 class="my-0 font-weight-normal bg-light">
                        <lable style="font-size:23px; color: steelblue">
                         Date: @Html.DisplayFor(modelItem => item.DueDate)

                        </lable>
                    </h4>
                    <br />


                    <h4 class="my-0 font-weight-normal bg-light">
                        <lable style="font-size:23px; color: steelblue">
                            Done: @Html.DisplayFor(modelItem => item.IsActive)

                        </lable>
                    </h4>
                </div>

                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> 
                            <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id">Details</a> 
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
 *@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card mb-4 orange-border">
                <!-- Add the custom class here -->
                <div class="card-header">
                    @* <h4 class="my-0 font-weight-normal bg-light">
                        <label style="font-size:23px; color: steelblue">
                            ID: @Html.DisplayFor(modelItem => item.Id)
                        </label>
                    </h4>
                    <br />
                    *@
                    <h4 class="my-0 font-weight-normal bg-light">
                        <label style="font-size:23px; color: steelblue">
                            My Note: @Html.DisplayFor(modelItem => item.Description)
                        </label>
                    </h4>
                    <br />

                    <h4 class="my-0 font-weight-normal bg-light">
                        <label style="font-size:23px; color: steelblue">
                            Category Name: @Html.DisplayFor(modelItem => item.Category)
                        </label>
                    </h4>
                    <br />
                      <h4 class="my-0 font-weight-normal bg-light">
                        <label style="font-size:23px; color: steelblue">
                            Priority: @Html.DisplayFor(modelItem => item.Priority)
                        </label>
                    </h4>
                    <br />


                    <h4 class="my-0 font-weight-normal bg-light">
                        <label style="font-size:23px; color: steelblue">
                            Date: @Html.DisplayFor(modelItem => item.DueDate)
                        </label>
                    </h4>

                    <!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>Overdew Operation</title>
                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
                    </head>
                    <body>
                        <div class="container mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="my-0 font-weight-normal">
                                       @*  <label class="overdew-label @((item.Overdew ? "red-bg" : "green-bg"))">
                                            Date: @Html.DisplayFor(modelItem => item.Overdew)
                                        </label> *@
                                        <label class="overdew-label @(item.Overdew ? "red-bg" : "green-bg")">
                                             @(item.Overdew ? "Expired" : "Date is not over")
                                        </label
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </body>
                </html>

                    @* <h4 class="my-0 font-weight-normal bg-light">
                        <label style="font-size:23px; color: steelblue">
                            Done: @Html.DisplayFor(modelItem => item.IsActive)
                        </label>
                    </h4> *@

                    <!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>Overdew Operation</title>
                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
                    </head>
                    <body>
                        <div class="container mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="my-0 font-weight-normal">
                                       @*  <label class="overdew-label @((item.Overdew ? "red-bg" : "green-bg"))">
                                            Date: @Html.DisplayFor(modelItem => item.Overdew)
                                        </label> *@
                                        <label class="overdew-label @(item.IsActive ? "green-bg" : "red-bg")">
                                             @(item.IsActive ? "Done" : "Not Done")
                                        </label
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </body>
                </html>


                </div>

                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">


    <li class="nav-item dropdown">
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>
    </ul>
    <form class="d-flex">
        <input class="form-control me-sm-2" asp-action="Index" name="search" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
    </div>
</nav>

@* <div class="container">
    @if(pager.TotalPages>0)
    {
        <ul class="pagination justify-content-end">
            @for(var pge = pager.StartPage; pge<=pager.EndPage; pge++)
            {
                <li class="page-item" @(pge == pager.CurrentPage ? "active" : "")>
                    <a class="page-link" asp-controller="MyTasks" asp-action="Index" asp-route-isActiveFilter="@Filter" asp-route-pg="@pge">@pge</a>
                </li>
            }
        </ul>
    }
</div> *@

<div class="container mt-5">
    @if(pager.TotalPages > 0)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item @(pager.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" asp-controller="MyTasks" asp-action="Index" asp-route-isActiveFilter="@Filter" asp-route-pg="@(pager.CurrentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for(var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-controller="MyTasks" asp-action="Index" asp-route-isActiveFilter="@Filter" asp-route-pg="@pge">@pge</a>
                    </li>
                }
                <li class="page-item @(pager.CurrentPage == pager.TotalPages ? "disabled" : "")">
                    <a class="page-link" asp-controller="MyTasks" asp-action="Index" asp-route-isActiveFilter="@Filter" asp-route-pg="@(pager.CurrentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
</div>

